1. Kỹ thuật Binning

In [ ]:
# 1 Kỹ thuật Binning :Phân tích biến định lượng thanh các khoảng định tính
# Mục đích : 
# - Giảm thiếu dữ liệu nhiêu(noise)
#  - Làm mịn (smooth) dữ liệu
# Hỗ trợ trong nhiều nhiều bài toán Machine Learning như Dcision Tree

In [1]:
import pandas as pd

df = pd.DataFrame({'Math': [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],
                   'Eng': [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8]})
df.shape
# 12 dòng 2 cột

(12, 2)

In [2]:
# Chia làm 5 khoảng có số lượng phần tử trong từng khoảng sắp xếp
df['bin1'] = pd.qcut(df['Math'], q=5)
df

    Math  Eng          bin1
0      4    2  (3.999, 7.2]
1      4    5  (3.999, 7.2]
2      7    4  (3.999, 7.2]
3      8    7   (7.2, 12.4]
4     12    7   (7.2, 12.4]
5     13    8  (12.4, 16.8]
6     15    5  (12.4, 16.8]
7     18    4  (16.8, 22.8]
8     22    5  (16.8, 22.8]
9     23   11  (22.8, 25.0]
10    23   13  (22.8, 25.0]
11    25    8  (22.8, 25.0]

In [3]:
# Đếm số lượng dữ liệu trong khoảng
df['bin1'].value_counts()

bin1
(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: count, dtype: int64

In [ ]:
# Kỹ thuật chia khoản 
df['bin2'] = pd.qcut(df['Math'], q=[0, .2, .4, .6, .8, 1])
df

    Math  Eng          bin1          bin2 bin3  bin4
0      4    2  (3.999, 7.2]  (3.999, 7.2]    A   Bad
1      4    5  (3.999, 7.2]  (3.999, 7.2]    A   Bad
2      7    4  (3.999, 7.2]  (3.999, 7.2]    A   Bad
3      8    7   (7.2, 12.4]   (7.2, 12.4]    B    OK
4     12    7   (7.2, 12.4]   (7.2, 12.4]    B    OK
5     13    8  (12.4, 16.8]  (12.4, 16.8]    C    OK
6     15    5  (12.4, 16.8]  (12.4, 16.8]    C   Bad
7     18    4  (16.8, 22.8]  (16.8, 22.8]    D   Bad
8     22    5  (16.8, 22.8]  (16.8, 22.8]    D   Bad
9     23   11  (22.8, 25.0]  (22.8, 25.0]    E  Good
10    23   13  (22.8, 25.0]  (22.8, 25.0]    E  Good
11    25    8  (22.8, 25.0]  (22.8, 25.0]    E    OK

In [8]:
df['bin2'].value_counts()

bin2
(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: count, dtype: int64

In [5]:
# Đánh nhãn tưng khoảng
df['bin3'] = pd.qcut(df['Math'],
                           q=[0, .2, .4, .6, .8, 1],
                           labels=['A', 'B', 'C', 'D', 'E'])
df

    Math  Eng          bin1          bin2 bin3
0      4    2  (3.999, 7.2]  (3.999, 7.2]    A
1      4    5  (3.999, 7.2]  (3.999, 7.2]    A
2      7    4  (3.999, 7.2]  (3.999, 7.2]    A
3      8    7   (7.2, 12.4]   (7.2, 12.4]    B
4     12    7   (7.2, 12.4]   (7.2, 12.4]    B
5     13    8  (12.4, 16.8]  (12.4, 16.8]    C
6     15    5  (12.4, 16.8]  (12.4, 16.8]    C
7     18    4  (16.8, 22.8]  (16.8, 22.8]    D
8     22    5  (16.8, 22.8]  (16.8, 22.8]    D
9     23   11  (22.8, 25.0]  (22.8, 25.0]    E
10    23   13  (22.8, 25.0]  (22.8, 25.0]    E
11    25    8  (22.8, 25.0]  (22.8, 25.0]    E

In [9]:
df['bin3'].value_counts()

bin3
A    3
E    3
B    2
C    2
D    2
Name: count, dtype: int64

In [6]:
# Phân khoảng phân theo giới hạn 
df['bin4'] = pd.cut(df['Eng'],
                      bins=[0, 5, 8, float('Inf')],
                      labels=['Bad', 'OK', 'Good'])
df

    Math  Eng          bin1          bin2 bin3  bin4
0      4    2  (3.999, 7.2]  (3.999, 7.2]    A   Bad
1      4    5  (3.999, 7.2]  (3.999, 7.2]    A   Bad
2      7    4  (3.999, 7.2]  (3.999, 7.2]    A   Bad
3      8    7   (7.2, 12.4]   (7.2, 12.4]    B    OK
4     12    7   (7.2, 12.4]   (7.2, 12.4]    B    OK
5     13    8  (12.4, 16.8]  (12.4, 16.8]    C    OK
6     15    5  (12.4, 16.8]  (12.4, 16.8]    C   Bad
7     18    4  (16.8, 22.8]  (16.8, 22.8]    D   Bad
8     22    5  (16.8, 22.8]  (16.8, 22.8]    D   Bad
9     23   11  (22.8, 25.0]  (22.8, 25.0]    E  Good
10    23   13  (22.8, 25.0]  (22.8, 25.0]    E  Good
11    25    8  (22.8, 25.0]  (22.8, 25.0]    E    OK

In [10]:
df['bin4'].value_counts()

bin4
Bad     6
OK      4
Good    2
Name: count, dtype: int64

<!-- Các phương pháp Encodeing -->
1. Lable Encoding (Từ định tính (text), biến phân loại -> thành số )

In [12]:
import pandas as pd

gdp = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']
# Create data frame from list data
df = pd.DataFrame(list(zip(gdp, countries)),
                  columns=['GDP', 'Countries'])
df

   GDP Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [13]:
from sklearn import preprocessing

# Đánh nhãn
label_encoder = preprocessing.LabelEncoder()
df['labelCountries']= label_encoder.fit_transform(df['Countries']) 
df

   GDP Countries  labelCountries
0   11     Spain               2
1   22    France               0
2   33     Spain               2
3   44   Germany               1
4   55    France               0

In [14]:
dfOneHotEncoding = pd.get_dummies(df.Countries, prefix='Country')
print(dfOneHotEncoding.head())

   Country_France  Country_Germany  Country_Spain
0           False            False           True
1            True            False          False
2           False            False           True
3           False             True          False
4            True            False          False

In [15]:
# Ghép
df = pd.concat([df, dfOneHotEncoding], axis=1)
df

,GDP,Countries,labelCountries,Country_France,Country_Germany,Country_Spain
0,11,Spain,2,False,False,True
1,22,France,0,True,False,False
2,33,Spain,2,False,False,True
3,44,Germany,1,False,True,False
4,55,France,0,True,False,False

In [16]:
# Encoding to vectorzie
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(df.Countries)
y

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]])

In [17]:
from sklearn.preprocessing import OneHotEncoder
y = OneHotEncoder().fit_transform(df[['Countries']]).toarray()
print(y)

[[0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

In [ ]:
# Khi nào dùng One Hot Ecncodeing, Khi nào dùng Lable Encoding

PHƯƠNG PHÁP CHUẨN HÓA DỮ LIỆU (TRANSFORM DATA )
1. Normalization 
2. Standradization

In [18]:
import pandas as pd

year = [2010,2011,2012,2013,2014,2015]

salaryHCM = [8.5,9.0,10.5,12.0,11.0,10.0]

salaryLA = [5.5,6.0,6.0,5.5,6.0,5.0]

In [19]:
df = pd.DataFrame(list(zip(year, salaryHCM,salaryLA)),
                  columns=['Year', 'HCM','LA'])
df

   Year   HCM   LA
0  2010   8.5  5.5
1  2011   9.0  6.0
2  2012  10.5  6.0
3  2013  12.0  5.5
4  2014  11.0  6.0
5  2015  10.0  5.0

In [20]:
# Hướng dẫn max absolute scale về đoạn [-1,1]
#  công thức x
max_la = df['LA'].abs().max()
df['macLA'] = df['LA'] / max_la

df

   Year   HCM   LA     macLA
0  2010   8.5  5.5  0.916667
1  2011   9.0  6.0  1.000000
2  2012  10.5  6.0  1.000000
3  2013  12.0  5.5  0.916667
4  2014  11.0  6.0  1.000000
5  2015  10.0  5.0  0.833333

In [32]:
max_la = df['HCM'].abs().max()
df['macHCM'] = df['HCM'] / max_la

df

   Year   HCM   LA     macLA  mmcLA       zLA  TransformX    macHCM
0  2010   8.5  5.5  0.916667    0.5 -0.408248       31.25  0.708333
1  2011   9.0  6.0  1.000000    1.0  0.816497       37.00  0.750000
2  2012  10.5  6.0  1.000000    1.0  0.816497       37.00  0.875000
3  2013  12.0  5.5  0.916667    0.5 -0.408248       31.25  1.000000
4  2014  11.0  6.0  1.000000    1.0  0.816497       37.00  0.916667
5  2015  10.0  5.0  0.833333    0.0 -1.632993       26.00  0.833333

In [21]:

from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM        LA
0  0.708333  0.916667
1  0.750000  1.000000
2  0.875000  1.000000
3  1.000000  0.916667
4  0.916667  1.000000
5  0.833333  0.833333

In [23]:

vSc = scaler.transform([[4.5,5.75]])
vSc

d:\USERS\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MaxAbsScaler was fitted with feature names
  warnings.warn(

array([[0.375     , 0.95833333]])

In [25]:
# Hãy cho biết giá trị lương của HCM và LA trước khi cale là bao nhiêu
# Nếu biết trước giá trị 
vR = scaler.inverse_transform([[0.5,0.8]])
vR

array([[6. , 4.8]])

In [ ]:
# Min mã scale về đoạn [0,1]
min_la = df['LA'].min()
max_la = df['LA'].max()
df['mmcLA'] = (df['LA'] - min_la) / (max_la - min_la)

df

   Year   HCM   LA     macLA  mmcLA       zLA  TransformX    macHCM
0  2010   8.5  5.5  0.916667    0.5 -0.408248       31.25  0.708333
1  2011   9.0  6.0  1.000000    1.0  0.816497       37.00  0.750000
2  2012  10.5  6.0  1.000000    1.0  0.816497       37.00  0.875000
3  2013  12.0  5.5  0.916667    0.5 -0.408248       31.25  1.000000
4  2014  11.0  6.0  1.000000    1.0  0.816497       37.00  0.916667
5  2015  10.0  5.0  0.833333    0.0 -1.632993       26.00  0.833333

In [28]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM   LA
0  0.000000  0.5
1  0.142857  1.0
2  0.571429  1.0
3  1.000000  0.5
4  0.714286  1.0
5  0.428571  0.0

In [34]:
# Ví dụ về Z-Score
# Nếu một ng có thu nhập 15tr
# ở HCM một ng ở LA thu nhập 12 tr
# thoải mái hơn
df[['HCM', 'LA']].describe()

             HCM        LA
count   6.000000  6.000000
mean   10.166667  5.666667
std     1.290994  0.408248
min     8.500000  5.000000
25%     9.250000  5.500000
50%    10.250000  5.750000
75%    10.875000  6.000000
max    12.000000  6.000000

In [29]:
# tính z-score
mean_la = df['LA'].mean()
std_la = df['LA'].std()
df['zLA'] = (df['LA'] - mean_la) / std_la

df

   Year   HCM   LA     macLA  mmcLA       zLA
0  2010   8.5  5.5  0.916667    0.5 -0.408248
1  2011   9.0  6.0  1.000000    1.0  0.816497
2  2012  10.5  6.0  1.000000    1.0  0.816497
3  2013  12.0  5.5  0.916667    0.5 -0.408248
4  2014  11.0  6.0  1.000000    1.0  0.816497
5  2015  10.0  5.0  0.833333    0.0 -1.632993

In [35]:
# Sinh viên tự tính z-score cho HCM
mean_la = df['HCM'].mean()
std_la = df['HCM'].std()
df['zHCM'] = (df['HCM'] - mean_la) / std_la

df

   Year   HCM   LA     macLA  mmcLA       zLA  TransformX    macHCM      zHCM
0  2010   8.5  5.5  0.916667    0.5 -0.408248       31.25  0.708333 -1.290994
1  2011   9.0  6.0  1.000000    1.0  0.816497       37.00  0.750000 -0.903696
2  2012  10.5  6.0  1.000000    1.0  0.816497       37.00  0.875000  0.258199
3  2013  12.0  5.5  0.916667    0.5 -0.408248       31.25  1.000000  1.420094
4  2014  11.0  6.0  1.000000    1.0  0.816497       37.00  0.916667  0.645497
5  2015  10.0  5.0  0.833333    0.0 -1.632993       26.00  0.833333 -0.129099

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])

scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM        LA
0 -1.414214 -0.447214
1 -0.989949  0.894427
2  0.282843  0.894427
3  1.555635 -0.447214
4  0.707107  0.894427
5 -0.141421 -1.788854

In [37]:

# Hãy dùng Z-Score để đưa ra kết luận: Nếu một người có thu nhập 15 triệu ở HCM, một người ở LA có thu nhập 12 triệu thì người nào sinh hoạt thoải mái hơn
sv = scaler.transform([[15,12]])
sv

d:\USERS\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[ 4.10121933, 16.99411663]])

In [31]:
def funcX(x):
    return x*x + 1

df['TransformX'] = funcX(df[["LA"]])

df

   Year   HCM   LA     macLA  mmcLA       zLA  TransformX
0  2010   8.5  5.5  0.916667    0.5 -0.408248       31.25
1  2011   9.0  6.0  1.000000    1.0  0.816497       37.00
2  2012  10.5  6.0  1.000000    1.0  0.816497       37.00
3  2013  12.0  5.5  0.916667    0.5 -0.408248       31.25
4  2014  11.0  6.0  1.000000    1.0  0.816497       37.00
5  2015  10.0  5.0  0.833333    0.0 -1.632993       26.00